.nodes:hover {
  cursor: pointer;
}

.node_txt {
  font-weight: 600;
  font-size: 18px;
  pointer-events: none;
}

.nodes:hover ~ .node_txt {
  fill: #c8c8c8;
}

.title_box {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0);
  background-color: #00000090;
  padding: 2px 28px;
  border-radius: 30px;
  pointer-events: none;
}

.main_txt,
.likes_txt {
  width: 100%;
  font-size: 2rem;
  opacity: 1;
  white-space: nowrap;
  transition: 0.25s all ease-in-out;
  pointer-events: none;
}

.likes_txt {
  font-size: 0;
  opacity: 0;
}

.main_txt_hover {
  font-size: 0;
  opacity: 0;
}

.likes_txt_hover {
  font-size: 2rem;
  opacity: 1;
}

/* Adjust for Mobile */
@media screen and (max-width: 800px) {
  .main_txt,
  .likes_txt {
    /* width: 100%;
    font-size: 2rem; */
    /* opacity: 1;
    white-space: nowrap;
    transition: 0.25s all ease-in-out;
    pointer-events: none;  */
  }
}
