.nodes:hover {
  cursor: pointer;
}

.node_txt {
  font-weight: 600;
  font-size: 18px;
  pointer-events: none;
}

.title_box {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0);
  background-color: #00000090;
  padding: 2px 28px;
  border-radius: 30px;
  pointer-events: none;
}

.main_txt,
.likes_txt {
  width: 100%;
  font-size: 2rem;
  opacity: 1;
  white-space: nowrap;
  transition: 0.25s all ease-in-out;
  pointer-events: none;
}

.likes_txt {
  font-size: 0;
  opacity: 0;
}

.main_txt_hover {
  font-size: 0;
  opacity: 0;
}

.likes_txt_hover {
  font-size: 2rem;
  opacity: 1;
}

.reloadButton {
  position: fixed;
  bottom: 120px;
  right: 44px;
  width: 60px;
  height: 60px;
  background-color: #fd7e14;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  transition: 0.3s ease-in-out;
}

.reloadButton:hover {
  background-color: #5936a3;
  transform: scale(1.1) rotate(360deg);
}

.reloadButton:active {
  transform: scale(1.2) rotate(720deg);
}

/* Adjust for Mobile */
@media screen and (max-width: 800px) {
  .reloadButton {
    bottom: 105px;
    right: 28px;
  }

  .reloadButton:active {
    transform: none;
  }
}
