.button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 65px;
  height: 65px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 902;
  border: none;
  text-align: center;
  padding: 0;
  overflow: hidden;
}

.button > p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 50px;
}

.button:hover {
  background-color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000080;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 900;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.popup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: -300px;
  width: 300px;
  height: calc(100% - 4rem);
  background-color: darkslategray;
  border-radius: 20px;
  margin: 2rem 0;
  z-index: 901;
  transition: all 0.3s ease;
}

.popup.active {
  right: 25px;
}

.popup_content {
  height: calc(100% - 4rem);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup_content > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup_header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.popup_body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup_body label {
  font-weight: 600;
  font-size: 16px;
  padding: 2px 0;
  margin: 2px 0;
}

.popup_button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.popup_button:hover {
  background-color: #0056b3;
}

/* Color Picker */
.color_picker {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.color_circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid transparent;
}

.color_circle:hover {
  border: 3px solid #00000080;
}

.color_circle.selected {
  border: 3px solid #000000;
}

/* Node Input */
.node_input_box {
  display: flex;
  gap: 6px;
}

.node_input_box > input {
  display: flex;
  justify-content: center;
  width: 58px;
  height: 30px;
  padding: 1px 10px;
  font-size: 16px;
  border-radius: 15px;
  border: 0;
  background-color: #242424;
}

.error_box {
  border-radius: 20px;
  margin-top: 20px;
  text-align: center;
  width: 0;
  height: 0;
  font-size: 0;
  font-weight: 500;
}

.error_box_show {
  color: white;
  background-color: #ff5449;
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 1rem;
  transition: 0.2s all ease-in-out;
}

/* Adjust for Mobile */
@media screen and (max-width: 800px) {
  .button {
    bottom: 25px;
    right: 25px;
  }
}
