.screen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.circle {
  width: 50px;
  height: 50px;
  border: 4px solid transparent;
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
